<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>[Subject]</title>
		<style type="text/css">
			body {
				font-family: [Font];
				background-color: [BackgroundColor];
				color: [TextColor];
			}
			div.vtm_email_sig {
				border-top: 2px solid [LineColor];
				padding: 3px;
				display:block;
				width:100%;
				clear: both;
			}
			div.vtm_email_body {
				padding: 3px;
			}
		</style>
	</head>
	<body>
		<div class='vtm_email_body'>
			[MessageBody]
		</div>
		
		<div class='vtm_email_sig'>
			[Signature]
		</div>
	</body>
</html>